 {% assign page_id = page.id %}
  {% if page_id != 110102085787 %}
    <style>

.black-friday-sale-menu-link-desktop {
  background: linear-gradient(45deg, #0071ce 0%, #dc3545 50%, #0071ce 100%);
  background-size: 300% 300%; /* Larger than the element to enable movement */
  color: #ffffff;
  padding: 10px 5px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  display: inline-block;
  animation: movingBackground 5s linear infinite; /* Add background animation */
  text-decoration: none; /* Ensure the link looks clean */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


a.black-friday-sale-menu-link-desktop:hover, a.black-friday-sale-menu-link-desktop:active {
  color:#ffff!important
}
@keyframes movingBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%; 
  }
}
    </style>
<a href="/pages/us-independence-day-sale-25" target="_blank" follow="no-follow" class="black-friday-sale-menu-link-desktop ">Foxx Biggest Patriotic Sale</a> 